<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Social User Profile Page in HTML5/CSS3[DEMO]</title>
  <link rel="stylesheet" type="text/css" href="global.css" />
</head>

<body>  
  <header>
    <div class="wrapper">
      <a href="#"><img src="/img/Logo2.jpg" alt="mysquare logo" title="mysquare - checkin and go home!" /></a>
      
      <span id="usernav"><a href="/user/logout">Logout</a> - <a href="#">Settings</a> - <a href="#">My Profile<span><img src="img/user_avatar_s.jpg" /></span></a></span>
    </div>
  </header>
  
  <nav>
    <ul id="n" class="clearfix">
      <li class="sel"><a href="#">Homepage</a></li>
      <li class="sel"><a href="#">Profile</a></li>
      <li class="sel"><a href="/ideas">Ideas</a></li>
      <li class="sel"><a href="#">Stars</a></li>
      <li class="sel"><a href="#">Search</a></li>
      <li class="sel"><a href="#">Find Friends</a></li>
    </ul>
  </nav>
  
    <section id="left">

      <p> </p>
        <% @title = "Invest Idea" %>
        <h2><strong>New Idea</strong></h2>
        <%= form_for(@idea, :url => {:action => :post_new}, :html => {:class => "pure-form"}) do |f| %>
          <div class="control-group">
            <label class="control-label" for="idea_summary">Summary</label>
            <div class="controls">
              <input class="pure-input-2-3" type="text" id="idea_summary" name = "idea[summary]"placeholder="What's the point?">
              </div>
          </div>
          <div class="textarea">
            <label class="control-label" for="idea_description">Description</label>
            <div class="control-group">
              <input type="text" id="idea_description" name = "idea[description]"placeholder="Describe Idea. e.g. Target Market? Market Share? Niche?">
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="idea_sector">Sector</label>
            <div class="controls">
              <input type="text" id="idea_sector" name = "idea[sector]"placeholder="Enter Sector">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="idea_interest">Interest Level</label>
            <div class="controls">
              <input type="integer" id="idea_personal_interest" name = "idea[personal_interest]"placeholder="Value between 0 and 10">
            </div>
          </div>
            
          <div class="control-group">
            <label class="control-label" for="market">Target Market </label>
                <select id="market" class="pure-input-1-2">
                    <option>United States</option>
                    <option>United Kingdom</option>
                    <option></option>
                </select>
          </div>

          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn" value ="save">Submit Idea</button>
            </div>
          </div>
          <input type="hidden" id="idea_user" name = "idea[user_id]" value = <%= session["user_id"]%>>
        <% end %>
    </section>
    
    <section id="right">
      <div class="gcontent">
        <div class="head"><h1>Stars(3)</h1></div>
        <div class="boxy">
          <p>Contribute to Earn ThinkStars!</p>
          
          <div class="badgeCount">
            <a href="#"><img src="/img/foursquare-badge.png" /></a>
            <a href="#"><img src="/img/foursquare-badge.png" /></a>
            <a href="#"><img src="/img/foursquare-badge.png" /></a>
          </div>
          
          <span><a href="#">See all…</a></span>
        </div>
      </div>
      
      <div class="gcontent">
        <div class="head"><h1>My Network</h1></div>
        <div class="boxy">
          <p>Friend List- 106 friends</p>
          
          <div class="friendslist clearfix">
            <div class="friend">
              <a href="#"><img src="/img/friend_avatar_default.jpg" width="30" height="30" alt="Jerry K." /></a><span class="friendly"><a href="#">Jerry K.</a></span>
            </div>
            
            <div class="friend">
              <a href="#"><img src="/img/friend_avatar_default.jpg" width="30" height="30" alt="Katie F." /></a><span class="friendly"><a href="#">Katie F.</a></span>
            </div>
            
            <div class="friend">
              <a href="#"><img src="/img/friend_avatar_default.jpg" width="30" height="30" alt="Ash K." /></a><span class="friendly"><a href="#">Ash K.</a></span>
            </div>
            
            <div class="friend">
              <a href="#"><img src="/img/friend_avatar_default.jpg" width="30" height="30" alt="Sponge B." /></a><span class="friendly"><a href="#">Sponge B.</a></span>
            </div>
            
            <div class="friend">
              <a href="#"><img src="/img/friend_avatar_default.jpg" width="30" height="30" alt="Frank" /></a><span class="friendly"><a href="#">Frank</a></span>
            </div>
            
            <div class="friend">
              <a href="#"><img src="/img/friend_avatar_default.jpg" width="30" height="30" alt="Alexa S." /></a><span class="friendly"><a href="#">Alexa S.</a></span>
            </div>
          </div>
          
          <span><a href="#">See all...</a></span>
        </div>
      </div>
    </section>
  </div>
</body>
</html>
