<div class="center hero-unit">
  <h1>Welcome to the Idea Bank</h1>

  <h2>
    This is the home page for
    Idea Bank.
    Click Here to Sign Up
  </h2>

  <%= link_to "Sign up now!", '/user/register', class: "btn btn-large btn-success" %>
</div>

<p>Share and Get the Best Ideas for your next startup</p>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
