<p> </p>

<% @title = "Register" %>
<h1>Registration</h1>
<%= form_for(@user, :url => {:action => :post_register}, :html => {:class => "form-horizontal"}) do |f| %>
  <div class="control-group">
    <label class="control-label" for="first_name">First Name</label>
    <div class="controls">
      <input type="text" id="user_first_name" name = "user[first_name]"placeholder="First Name">
      </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="last_name">Last Name</label>
    <div class="controls">
      <input type="text" id="user_last_name" name = "user[last_name]"placeholder="Last Name">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="user_email">Email</label>
    <div class="controls">
      <input type="text" id="user_email" name = "user[email]"placeholder="Email">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="user_password">Password</label>
    <div class="controls">
      <input type="password" id="user_password" name = "user[password]"placeholder="Password">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="user_password_confirmation"> Confirm Password</label>
    <div class="controls">
      <input type="password" id="password_confirmation" name = "user[password_confirmation]"placeholder="Confirm Password">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox"> Remember me
      </label>
      <button type="submit" class="btn" value ="save">Sign Up</button>
    </div>
  </div>
<% end %>
